<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode}}">

<head>
  {{ partial "header.html" . }}
  <title>{{ $.Site.Title }}</title>
</head>

<body>
  {{ partial "navbar.html" . }}
  {{ partial "home.html" . }}
  {{ partial "footer.html" . }}
</body>

</html>